# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MakuCraft.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Unity Games\MakuCraft\MakuCraft\MakuCraft\.idea\.idea.MakuCraft\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
